{% extends "./components/ba_base.html" %}

{% load static %}

{% block content %}
<div class="flex justify-center py-20">
    <div class="flex flex-col prose prose-invert max-w-prose">
        <h1 class="text">Privacybeleid</h1>
        <p>Door gebruik te maken van deze dienst gaat u ermee akkoord dat uw ingevoerde gegevens, de gegevens met betrekking tot de diamantkenmerken zoals karaat, lengte (x), breedte (y) en diepte (z), anoniem worden verzameld.
            Alle door de gebruiker ingevoerde gegevens worden anoniem verwerkt en worden alleen gebruikt voor het verbeteren van de dienst. U dient te erkennen dat het verstrekken van deze gegevens vrijwillig is. De verzamelde gegevens worden uitsluitend gebruikt voor de aangegeven doeleinden en dragen bij aan een betere gebruikerservaring. Er worden geen gegevens verzameld die de identiteit van de gebruiker kunnen blootstellen.</p>
    </div>
</div>

{% endblock content %}
