{% extends "base.html" %}

{% block content %}
    <div class="w-1/2">
        <table class="w-full min-w-max table-auto text-left">
            <thead>
                <tr>
                    <th class="border-b border-blue-gray-100 bg-blue-gray-50 p-4">Index</th>
                    {% for value in header%}
                    <th class="border-b border-blue-gray-100 bg-blue-gray-50 p-4">{{value}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data%}
                <tr>
                    {% for value in row%}
                    <td class="p-4 border-b border-blue-gray-50">{{value}}</td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    {{tests|safe}}
    <p class="text-purple-500">If this text is purple, tailwind works</p>
{% endblock content %}