{% extends "./components/ga_base.html" %}

{% load static %}

{% block content %}
<div class="flex justify-center py-20">
    <div class="flex flex-col prose max-w-prose">
        <h1 class="text">Hoe werkt Diamant Adviseur</h1>
        <p>Diamant Adviseur maakt gebruik van artificiële intelligentie om voorspellingen te kunnen doen. Het systeem heeft o.b.v. ruim 53.000 
            <a 
            class="underline underline-offset-8 decoration-2 hover:decoration-4 decoration-sky-500 dark:decoration-sky-400" 
            href="https://www.kaggle.com/datasets/shivam2503/diamonds"
            target="_blank">
            diamantenverkooptransacties</a> geleerd om nauwkeurige voorspellingen uit te voeren. Op dit moment kan Diamant Adviseur u met een zekerheid van <span class="font-bold">92%</span> vertellen wat de prijs van een diamant is.</p>
        <p>Ons AI-model gebruikt enkele gegevens om de prijs van een diamant te voorspellen: het karaatgewicht en de afmetingen in de lengte (x), breedte (y) en diepte (z).</p>
    
        <h2>Karaatgewicht</h2>
        <p>Het karaatgewicht van een diamant is als de 'grootte' van de diamant. Voor het gemak vult u dit gewicht in in mg. Over het algemeen geldt: hoe groter het karaat, hoe kostbaarder de diamant. Dit komt omdat grotere diamanten zeldzamer zijn.</p>
        
        <h2>Afmetingen (breedte: x, lengte: y en diepte: z)</h2>
        <p>De lengte, breedte en diepte van de diamant worden gemeten in millimeters. Deze metingen bepalen de vorm van de diamant, zoals rond of ovaal. Ze hebben invloed op hoe de diamant eruitziet en kunnen ook de prijs beïnvloeden. Bijvoorbeeld, een diamant met een perfect ronde vorm kan waardevoller zijn dan een vergelijkbare diamant met onregelmatige afmetingen.</p>
        
        <img src="{% static '/media/explanation.jpg' %}" alt="Foto die de dimensies van de diamant laten zien">
        
        <p>Ons voorspellingsmodel helpt u om een idee te krijgen van wat u kunt verwachten, maar het is belangrijk om te onthouden dat de uiteindelijke prijs ook kan worden beïnvloed door dingen als de zuiverheid, de kleur en de slijpkwaliteit van de diamant.</p>
        <p>Ons AI-model leert van heel veel diamanten met verschillende karaatgewichten en afmetingen. Het zoekt naar patronen en relaties tussen deze gegevens om prijzen te voorspellen. Hier is hoe het werkt:</p>
        <ul>
            <li>
                Stelt u zich voor dat ons model een slimme assistent is die naar tienduizenden diamanten kijkt en ziet dat grotere diamanten meestal duurder zijn. Het kijkt ook naar de vorm en ziet dat sommige vormen meer gewild zijn dan andere. Het combineert al deze informatie en leert dat bijvoorbeeld een grote, perfect ronde diamant heel kostbaar kan zijn.
            </li>
            <li>
                Als u ons vertelt over een diamant met een bepaald karaatgewicht en afmetingen, gebruikt ons model wat het heeft geleerd om een voorspelling te doen over hoeveel die diamant ongeveer waard zou kunnen zijn. Het is belangrijk om te weten dat dit een voorspelling is, geen exacte prijs, omdat andere factoren de prijs van een diamant kunnen beïnvloeden.
            </li>
            <li>
                Ons model helpt u om een idee te krijgen van wat u kunt verwachten, maar tevens is het belangrijk om te onthouden dat de uiteindelijke prijs ook kan worden beïnvloed door dingen als de zuiverheid, de kleur en de slijpkwaliteit van de diamant.
            </li>
        </ul>
        <p>Kort gezegd, ons AI-model kijkt naar het gewicht en de vorm van de diamant en maakt op basis daarvan een schatting van de prijs. Het is als een diamantenkenner die u helpt om te begrijpen waarom sommige diamanten meer kosten dan andere. We hopen dat dit u helpt bij het nemen van beslissingen bij het kopen of verkopen van diamanten.</p>
        <h1>Impact van variabelen</h1>
        <p>Er worden twee modellen gebruikt. Bij een gewicht boven 40mg, een breedte boven de 10.74mm, een lengte van meer dan 10.54 of een diepte van 6.98mm wordt een lineair model gebruikt.</p>
        <p>Onder deze waarden, dus bij de meeste diamanten, wordt een "Decision Forest" gebruikt.</p>
        <h2>Decision Forest</h2>
        <img src="{% static '/media/output-rf-final.png' %}" alt="Grafieken die het model uitleggen">
        <p>In de bovenstaande grafiek wordt de impact van individuele variabelen laten zien. De variabelen zijn van hoge impact naar lage impact gesorteerd.</p>
        <p>U kunt dus zien dat de karaatwaarde heel belangrijk is voor de waarde van de diamant</p>
        <p>Elk punt op de grafiek is een datapunt uit de originele dataset. De locatie geeft de "SHAPwaarde" oftewel de impact op het model uit. Hoog betekend veel impact, laag weinig impact. De kleur geeft de waarde van dat punt aan. Hoe roder, hoe roder hoe hoger de waarde.</p>
        <p>Bij de karaatwaarde ziet u aan de rechterkant van de lijn dat lage waarden een kleinere impact hebben dan hogere waarden.</p>
        <img src="{% static '/media/output2-rf-final.png' %}" alt="Grafieken die het model uitleggen">
        <p>In deze grafiek ziet u alleen de impact van elke variabele. Zoals in de eerdere grafiek ook te zien was heeft de karaatwaarde de meeste impact.</p>
        <h2>Liniear model</h2>
        <img src="{% static '/media/output-linear-final.png' %}" alt="Grafieken die het model uitleggen">
        <img src="{% static '/media/output2-linear-final.png' %}" alt="Grafieken die het model uitleggen">
    </div>
</div>

{% endblock content %}
