{% load static %}

<nav class="flex flex-row w-full bg-zinc-700">
    <div class="flex flex-no-shrink items-stretch h-12">
      <img class="" src="{% static '/media/logo.png' %}" alt="My image">
      <a href="/good_app" class="flex-no-grow flex-no-shrink relative py-3 px-4 leading-normal text-white no-underline flex items-center hover:bg-zinc-600">Home</a>
      <a href="/good_app/explanation" class="flex-no-grow flex-no-shrink relative py-3 px-4 leading-normal text-white no-underline flex items-center hover:bg-zinc-600">Explanation</a>
      <a href="/good_app/privacy" class="flex-no-grow flex-no-shrink relative py-3 px-4 leading-normal text-white no-underline flex items-center hover:bg-zinc-600">Privacy</a>
    </div>
</nav>